<div class = "container-header">
  <h1> YaHerd? </h1>
  

<link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<script type="text/javascript" src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars.min-latest.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<header>
	<span class = "listen">What's the deal with YaHerd?</span>
  <button class="hamburger">&#9776;</button>
  <button class="cross">&#735;</button>
</header>

<div class="menu">
  <ul>
    <a href="../views/index.hbs"><li>HOME</li></a>
    <a href="../views/topten.hbs"><li>TOP TEN</li></a>
  </ul>
</div>


<div class="pasture">
    <div class="paragraph">
        <p>Keeping you up to date with the newest and most popular music, YaHerd helps you discover music and share with others. We believe in coming together and sharing good tunes. Welcome to the herd!</p>
    </div>
    <div class="fullscreen-bg">
        <video autoplay="autoplay" loop="loop" muted="muted" class="fullscreen-bg__video">
            <source src="../video/Sunny Field in Belgium - 4K.mp4" type="video/mp4">
        </video>
    </div>
    <img src="http://i.imgur.com/vx7ikxd.png" alt="sheep" class="aboutSheep" />
</div>

<script> require('../routes/menu.js');</script>
