
<div class="container">
  <div class="header">
    Top Tracks
  </div>
 
  <div id="tracks-container"></div>
</div>

<script id="tracks-template" type="text/x-handlebars-template">
  {{#each tracks}}
  <div data-track-id="{{id}}" style="background-image:url(http://direct.rhapsody.com/imageserver/v2/albums/{{albumId}}/images/300x300.jpg)" class="cover">
  <div class=content-name>{{name}}</div>
  <audio controls class= "audio">
    <source src="{{previewURL}}" type="audio/mpeg">
  </audio>
  </div>
  {{/each}}

<script> require('../app.js');</script>